*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2A9D8F;
    box-shadow: 2px 2px 15px #26465373;
    border-radius: 10px;
}

.FPtitle{
    font-weight: 900;
}

.btn{
    background-color: #2A9D8F;
    color: #fff;
    border: none;
    height: 40px;
    width: 60%;
    font-size: medium;
    font-weight: 600;
    border-radius: 2px;
    transition-duration: 0.2s;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#g-logo{
    filter: invert(100%);
}

.input-box{
    margin-top: 5px;
}

.input-box input{
    width: 90%;
    height: 40px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #2A9D8F;
    border-radius: 3px;
}

.input-box input::placeholder{
    color: #2A9D8F;
}

.input-box input:hover{
    border: 1.5px solid #264653;
}

.input-box label{
    font-size: large;
    font-weight: 600;
    margin-left: 10px;
}

.btn:hover{
    background-color: #264653;
}