*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 50px;
}

footer{
    position: fixed;
    background-color: #fff;
    bottom: 0;
    padding: 10px;
    color: #2A9D8F;
    font-weight: 600;
    width: 100%;
    box-shadow: 2px 5px 15px #26465373;
    display: flex;
    justify-content: center;
    gap: 6px;
}

footer a{
    text-decoration: none;
    color: #2A9D8F;
}

footer a:hover{
    color: #264653;
}

.container{
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2A9D8F;
    box-shadow: 2px 2px 15px #26465373;
    border-radius: 10px;
}

#list{
    width: 50%;
}

.FPtitle{
    font-weight: 900;
}

#g-logo{
    filter: invert(100%);
}

.input-box{
    margin-top: 5px;
}

.input-box input{
    width: 90%;
    height: 40px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #2A9D8F;
    border-radius: 3px;
}

.btn{
    background-color: #2A9D8F;
    color: #fff;
    border: none;
    height: 40px;
    font-size: medium;
    font-weight: 600;
    border-radius: 2px;
    transition-duration: 0.2s;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn:hover{
    background-color: #264653;
}

.input-box input::placeholder{
    color: #2A9D8F;
}

.input-box input:hover{
    border: 1.5px solid #264653;
}

.input-box label{
    font-size: large;
    font-weight: 600;
    margin-left: 10px;
}

#lista{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    font-weight: 500;
}

#lista li{
    background-color: #2A9D8F;
    padding: 10px;
    color: #fff;
    list-style-type: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#lista li .text{
    width: 80%;
    display: flex;
    flex-direction: column;

}

#lista li .concluir-btn, .remove-btn{
    background-color: #fff;
    border: none;
    padding: 8px;
    border-radius: 3px;
    color: #2A9D8F;
    margin-right: 5px;
    font-weight: 600;
    transition-duration: 0.2s;
}

#lista li .concluir-btn, .remove-btn:hover{
    background-color: #264653;
    color: #fff;
}